In [1]:
!pip install selenium
import time

Requirement already satisfied: selenium in c:\users\srividya\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import  StaleElementReferenceException
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
url="https://www.naukri.com/"
driver.get(url)

In [5]:
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job

In [6]:
search_job.send_keys("Data Analyst")

In [7]:
search_loc=driver.find_element_by_xpath("//input[@name='location']")
search_loc

In [8]:
search_loc.send_keys("Bangalore")

In [9]:
time.sleep(2)

In [10]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")

In [11]:
search_btn.click()

In [18]:
urls=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921602383?src=jobsearchDesk&sid=16312258661709476&xp=1&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921002381?src=jobsearchDesk&sid=16312258661709476&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-idam-services-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-4-to-8-years-080921501391?src=jobsearchDesk&sid=16312258661709476&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sr-data-engineer-syren-technologies-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-080921005341?src=jobsearchDesk&sid=16312258661709476&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-mcafee-software-india-pvt-ltd-bangalore-bengaluru-6-to-8-years-090921502499?src=jobsearchDesk&sid=16312258661709476&xp=5&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-google-data-studio-sql-ave-promagne-bangalore-bengaluru-3-to-8-years-070921902812?src=jobsearchDesk&sid=16312258661709476&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-in4-walmart-labs-bangalore-bengaluru-8-to-10-years-090921500551?src=jobsearchDesk&sid=16312258661709476&xp=7&px=1',
 'https://www.naukri.com/job-listings-tcs-hiring-for-senior-data-analyst-bfsi-domain-tata-consultancy-services-ltd-chennai-bangalore-bengaluru-6-to-11-years-090921006929?src=jobsearchDesk&sid=16312258661709476&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-python-sql-affine-bangalore-bengaluru-3-to-5-years-080921903676?src=jobsearchDesk&sid=16312258661709476&xp=9&px=1',
 'https://www.naukri.com/job-listings-executive-data-analyst-gokaldas-exports-ltd-bangalore-bengaluru-0-to-3-years-030921004749?src=jobsearchDesk&sid=16312258661709476&xp=10&px=1',
 'https://www.naukri.com/job-listings-tcs-hiring-for-mdm-master-data-management-data-analyst-bfsi-domain-tata-consultancy-services-ltd-chennai-bangalore-bengaluru-6-to-11-years-090921006980?src=jobsearchDesk&sid=16312258661709476&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-virtusa-consulting-services-pvt-ltd-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-mumbai-all-areas-8-to-12-years-300821008987?src=jobsearchDesk&sid=16312258661709476&xp=12&px=1',
 'https://www.naukri.com/job-listings-systems-and-data-analyst-safety-and-provisioning-aecom-india-private-limited-bangalore-bengaluru-2-to-7-years-090921900357?src=jobsearchDesk&sid=16312258661709476&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-with-sql-wipro-limited-noida-gurgaon-gurugram-bangalore-bengaluru-3-to-5-years-080921007575?src=jobsearchDesk&sid=16312258661709476&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ibm-india-pvt-limited-bengaluru-bangalore-1-to-4-years-070921901682?src=jobsearchDesk&sid=16312258661709476&xp=15&px=1',
 'https://www.naukri.com/job-listings-sr-data-analyst-empower-retirement-bangalore-bengaluru-5-to-8-years-090921502717?src=jobsearchDesk&sid=16312258661709476&xp=16&px=1',
 'https://www.naukri.com/job-listings-sr-analyst-data-analysis-tesco-bengaluru-bangalore-bengaluru-2-to-4-years-090921502415?src=jobsearchDesk&sid=16312258661709476&xp=17&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=16312258661709476&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-edge-executive-search-pvt-ltd-pune-bangalore-bengaluru-mumbai-all-areas-0-to-2-years-090921003102?src=jobsearchDesk&sid=16312258661709476&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-5-to-10-years-090921501664?src=jobsearchDesk&sid=16312258661709476&xp=20&px=1']

In [ ]:
job_titles=[]
job_description=[]
for j in urls:
    driver.get(j)
    time.sleep(3)
    #fetch job title
    try:
        job=driver.find_elements_by_xpath("//h1[@title='Business Data Analyst']")
        for h in job:
            job_titles.append(h.text,replace("\n"))
        job_titles      
    except:
            job_titles.append('_')

In [ ]:
job_titles